In [3]:
import sqlite3
db = sqlite3.connect('Employee.sqlite')
cur = db.cursor()

In [44]:
cur.execute('create Table EmployeeDetail(employeeid int Primary Key, name varchar(100), age int, department varchar(100), salary float)')

OperationalError: table EmployeeDetail already exists

In [16]:
cur.execute('pragma  table_info(EmployeeDetail)')

In [21]:
cur.execute('insert into EMployeedetail values(100,"Rishav",25,"Marketing",50000)')

IntegrityError: UNIQUE constraint failed: EmployeeDetail.employeeid

In [23]:
cur.execute('insert into EMployeedetail values (101,"Abhishek",26,"Operations",60000),(102,"Aman",24,"Human Resource",75000)')

In [26]:
print(cur.execute('select * from Employeedetail'))

<sqlite3.Cursor object at 0x0000020E5F5623B0>

In [28]:
cur.fetchall()

[]

In [43]:
db.commit()

In [37]:
eid = 102
cur.execute('delete from employeedetail where employeeid = ?',(eid,))

In [45]:
## Open and read data file as specified in the question
## Print the required output in given format
employee_id=[101,102,103,104,105,106,107,108,109,110,111,112]
name=['Aadarsh','Aarti','Siddharth','Aman','Amit','Shivansh','Vaibhav','Himanshu','Raman','Kunal','Adhira','Tanya']
age=[25,27,25,24,30,26,23,26,25,26,29,24]
department=['Marketing','Operations','Finance','Human Resource','Marketing','IT','Finance','IT','Operations','Marketing','Human Resource','Marketing']
salary=[50000,60000,85000,75000,50000,90000,85000,90000,60000,50000,75000,50000]
llist = [(employee_id[i],name[i],age[i],department[i],salary[i]) for i in range(len(employee_id))]
print(llist)
cur.executemany('insert into employeedetail values(?,?,?,?,?)', llist)

[(101, 'Aadarsh', 25, 'Marketing', 50000), (102, 'Aarti', 27, 'Operations', 60000), (103, 'Siddharth', 25, 'Finance', 85000), (104, 'Aman', 24, 'Human Resource', 75000), (105, 'Amit', 30, 'Marketing', 50000), (106, 'Shivansh', 26, 'IT', 90000), (107, 'Vaibhav', 23, 'Finance', 85000), (108, 'Himanshu', 26, 'IT', 90000), (109, 'Raman', 25, 'Operations', 60000), (110, 'Kunal', 26, 'Marketing', 50000), (111, 'Adhira', 29, 'Human Resource', 75000), (112, 'Tanya', 24, 'Marketing', 50000)]

IntegrityError: UNIQUE constraint failed: EmployeeDetail.employeeid

In [50]:
## Open and read data file as specified in the question
## Print the required output in given format
res = cur.execute('Select employeeid from employeeDetail where department = "Finance"')
for ele in res:
    print(ele[0])

103
107